#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

ifeq ($(DEB_HOST_ARCH_OS),linux)
enable_systemd = --enable-systemd
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-utempter $(enable_systemd) --enable-sixel

execute_after_dh_auto_install:
	install -D -m 644 debian/shells \
		$(CURDIR)/debian/tmux/usr/share/debianutils/shells.d/tmux
